#textdomain wesnoth-Extended_Era

[unit]
	id=Sidhe Spirit Forefather
	name= _ "Sidhe Forefather"
	race=undead
	image="units/elves-sidhe/forefather.png"
	hitpoints=36
	movement_type=sidhespirit
	movement=7
	experience=150
	level=3
	alignment=chaotic
	advanceto=null
	{AMLA_DEFAULT}
	[abilities]
		{ABILITY_TERROR_LEVEL_3}
		{ABILITY_SYLVAN_SPARK}
	[/abilities]
	cost=74
	usage=spirit
	unit_description= _ "The greatest warriors of the sidhe are far from gone. When you hear their death chant, echoing through the trees, know that their silver blades are also near."+{SPECIAL_NOTES}+{SPECIAL_NOTES_TERROR}+{SPECIAL_NOTES_SYLVAN_SPARK}
	get_hit_sound=wail.wav
	die_sound=wail-long.wav
	[attack]
		name=ancient blade
		description= _ "ancient blade"
		icon=attacks/baneblade.png
		type=arcane
		range=melee
		damage=6
		number=6
	[/attack]
	[attack]
		name=requiem
		description= _ "requiem"
		icon=attacks/wail.png
		type=cold
		range=ranged
		damage=7
		number=3
	[/attack]
	[attack_anim]
		[attack_filter]
			name=ancient blade
		[/attack_filter]
		[if]
			hits=yes
			[frame]
				begin=-100
				end=200
				sound={SOUND_LIST:SWORD_SWISH}
			[/frame]
		[/if]
		[else]
			hits=no
			[frame]
				begin=-100
				end=200
				sound={SOUND_LIST:MISS}
			[/frame]
		[/else]
	[/attack_anim]
	[attack_anim]
		[attack_filter]
			name=requiem
		[/attack_filter]
		{MISSILE_FRAME_WAIL}
		[if]
			hits=no
			[frame]
				begin=-100
				end=250
				sound=wail-sml.wav
			[/frame]
		[/if]
		[else]
			hits=yes
			[frame]
				begin=-100
				end=250
				sound=wail.wav
			[/frame]
		[/else]
	[/attack_anim]
[/unit]
