#textdomain wesnoth-Extended_Era

[unit]
	id=Sidhe Spirit Ancestor
	name= _ "Sidhe Ancestor"
	race=undead
	image="units/elves-sidhe/ancestor.png"
	hitpoints=27
	movement_type=sidhespirit
	movement=7
	experience=110
	level=2
	alignment=chaotic
	advanceto=Sidhe Spirit Forefather
	[abilities]
		{ABILITY_TERROR_LEVEL_2}
		{ABILITY_SYLVAN_SPARK}
	[/abilities]
	cost=44
	usage=spirit
	unit_description= _ "Revered warriors of old roam through the woods of the sidhe, visible only due to their shining silver swords. They are only partially present in the mortal realm, and wounds close as if they had never existed. Their voice can whisper in the wind the words that chill the hearts of their ennemies."
	get_hit_sound=wail.wav
	die_sound=wail-long.wav
	[attack]
		name=ancient blade
		description= _ "ancient blade"
		icon=attacks/baneblade.png
		type=arcane
		range=melee
		damage=5
		number=5
	[/attack]
	[attack]
		name=requiem
		description= _ "requiem"
		icon=attacks/wail.png
		type=cold
		range=ranged
		damage=5
		number=3
	[/attack]
	[attack_anim]
		[attack_filter]
			name=ancient blade
		[/attack_filter]
		[if]
			hits=yes
			[frame]
				begin=-100
				end=200
				sound={SOUND_LIST:SWORD_SWISH}
			[/frame]
		[/if]
		[else]
			hits=no
			[frame]
				begin=-100
				end=200
				sound={SOUND_LIST:MISS}
			[/frame]
		[/else]
	[/attack_anim]
	[attack_anim]
		[attack_filter]
			name=requiem
		[/attack_filter]
		{MISSILE_FRAME_WAIL}
		[if]
			hits=no
			[frame]
				begin=-100
				end=250
				sound=wail-sml.wav
			[/frame]
		[/if]
		[else]
			hits=yes
			[frame]
				begin=-100
				end=250
				sound=wail.wav
			[/frame]
		[/else]
	[/attack_anim]
[/unit]
