#textdomain wesnoth-Extended_Era

[unit]
	id=Sidhe Tempest
	name= _ "Tempest"
	race=sidhe
	image="units/elves-sidhe/tempest.png"
	hitpoints=50
	movement_type=sidhemage
	movement=5
	experience=100
	level=3
	alignment=chaotic
	advanceto=Sidhe Stormlord
	cost=56
	usage=archer
	unit_description= _ "Elder mages, seen as sages among the sidhe are given the name of tempest. They call down lightning with ease and use a magic whose raw destructive power is almost unequaled."
	get_hit_sound={SOUND_LIST:ELF_HIT}
	die_sound={SOUND_LIST:ELF_HIT}
	[attack]
		name=sword
		description= _ "sword"
		icon=attacks/sword-elven.png
		type=blade
		range=melee
		damage=7
		number=3
	[/attack]
	[attack]
		name=lightning
		description= _ "lightning"
		type=fire
		range=ranged
		damage=8
		number=5
		[specials]
			{WEAPON_SPECIAL_MAGICAL}
		[/specials]
	[/attack]
	[attack_anim]
		[attack_filter]
			name=sword
		[/attack_filter]
		[if]
			hits=yes
			[frame]
				begin=-100
				end=200
				sound={SOUND_LIST:SWORD_SWISH}
			[/frame]
		[/if]
		[else]
			hits=no
			[frame]
				begin=-100
				end=200
				sound={SOUND_LIST:MISS}
			[/frame]
		[/else]
	[/attack_anim]

	{ANIM_LIGHTNING}
[/unit]
