#textdomain wesnoth-Extended_Era

[unit]
	id=Sidhe Warrior
	name= _ "Warrior"
	race=sidhe
	image="units/elves-sidhe/warrior.png"
	{MAGENTA_IS_THE_TEAM_COLOR}
	hitpoints=32
	movement_type=sidhefoot
	movement=6
	experience=38
	level=1
	alignment=chaotic
	advanceto=Sidhe Bladespinner,Sidhe Veiledblade,Sidhe Herald
	cost=14
	usage=fighter
	unit_description= _ "The lithe and strong sidhe warriors are deadly swordsmen, capable of dealing fast, strong blows and avoiding them just as easily. Their only weakness is the frailty due to their distaste for armor."
	die_sound={SOUND_LIST:ELF_HIT}
	{DEFENSE_ANIM "units/elves-sidhe/warrior-defend.png" "units/elves-sidhe/warrior.png" {SOUND_LIST:ELF_HIT} }
	[attack]
		name=sword
		description= _ "sword"
		icon=attacks/sword-elven.png
		type=blade
		range=melee
		damage=5
		number=4
	[/attack]
	[attack_anim]
		[attack_filter]
			name=sword
		[/attack_filter]
		[frame]
			begin=-200
			end=-120
			image="units/elves-sidhe/warrior.png"
		[/frame]
		[if]
			hits=yes
			[frame]
				begin=-120
				end=-0
				image="units/elves-sidhe/warrior-melee-1.png"
				sound={SOUND_LIST:SWORD_SWISH}
			[/frame]
		[/if]
		[else]
			hits=no
			[frame]
				begin=-120
				end=-0
				image="units/elves-sidhe/warrior-melee-1.png"
				sound={SOUND_LIST:MISS}
			[/frame]
		[/else]
		[frame]
			begin=0
			end=200
			image="units/elves-sidhe/warrior-melee-2.png"
		[/frame]
	[/attack_anim]
[/unit]
