#textdomain wesnoth-Extended_Era

[unit]
	id=Aragwaith Guard
	name= _ "Guard"
	race=aragwaith
	image="units/human-aragwaith/guard.png"
	{MAGENTA_IS_THE_TEAM_COLOR}
	profile="portraits/Peter_Geinitz/aragwaith-swordsman.png"
	hitpoints=40
	movement_type=aragwaithfoot
	[resistance]
		pierce=80
		impact=80
		blade=70
	[/resistance]
	movement=4
	experience=78
	level=2
	alignment=lawful
	advanceto=Aragwaith Shield Guard
	cost=27
	usage=fighter
	unit_description= _ "Chosen from the toughest Swordsmen, Guards willingly forgo some of thier mobility for the advantages of armor. Whether in ceremonial posts during peace, or on the battlefield in times of war, their role is always the same: defending the Warlock nobilty."
	die_sound={SOUND_LIST:HUMAN_DIE}
	[death]
		start_time=0
		[frame]
			duration=150
			image="units/human-aragwaith/guard-die-1.png"
		[/frame]
		[frame]
			duration=150
			image="units/human-aragwaith/guard-die-2.png"
		[/frame]
		[frame]
			duration=150
			image="units/human-aragwaith/guard-die-3.png"
		[/frame]
		[frame]
			duration=150
			image="units/human-aragwaith/guard-die-4.png"
		[/frame]
		[frame]
			duration=150
			image="units/human-aragwaith/guard-die-5.png"
		[/frame]
		[frame]
			duration=150
			image="units/human-aragwaith/guard-die-6.png"
		[/frame]
	[/death]
	{DEFENSE_ANIM_RANGE "units/human-aragwaith/guard-defend-ranged.png" "units/human-aragwaith/guard.png" {SOUND_LIST:HUMAN_HIT} ranged}
	{DEFENSE_ANIM_FILTERED "units/human-aragwaith/guard-defend-n.png" "units/human-aragwaith/guard.png" {SOUND_LIST:HUMAN_HIT} (
		direction=n
		[attack_filter]
			range=melee
		[/attack_filter]		
	)}
	{DEFENSE_ANIM_FILTERED "units/human-aragwaith/guard-defend-s.png" "units/human-aragwaith/guard.png" {SOUND_LIST:HUMAN_HIT} (
		direction=s
		[attack_filter]
			range=melee
		[/attack_filter]		
	)}
	{DEFENSE_ANIM_FILTERED "units/human-aragwaith/guard-defend-e.png" "units/human-aragwaith/guard.png" {SOUND_LIST:HUMAN_HIT} (
		direction=ne,nw,se,sw
		[attack_filter]
			range=melee
		[/attack_filter]		
	)}
	[attack]
		name=sword
		description= _ "sword"
		icon=attacks/greatsword-human.png
		type=blade
		range=melee
		damage=12
		number=3
	[/attack]
	[attack_anim]
		[attack_filter]
			name=sword
		[/attack_filter]
		direction=n
		start_time=-200
		[frame]
			duration=100
			image="units/human-aragwaith/guard-attack-1-5-n.png"
		[/frame]
		[if]
			hits=yes
			[frame]
				duration=100
				image="units/human-aragwaith/guard-attack-2-n.png"
				sound={SOUND_LIST:SWORD_SWISH}
			[/frame]
		[/if]
		[else]
			hits=no
			[frame]
				duration=100
				image="units/human-aragwaith/guard-attack-2-n.png"
				sound={SOUND_LIST:SWORD_MISS}
			[/frame]
		[/else]
		[frame]
			duration=100
			image="units/human-aragwaith/guard-attack-3-n.png"
		[/frame]
		[frame]
			duration=100
			image="units/human-aragwaith/guard-attack-4-n.png"
		[/frame]
		[frame]
			duration=100
			image="units/human-aragwaith/guard-attack-1-5-n.png"
		[/frame]
	[/attack_anim]
	[attack_anim]
		[attack_filter]
			name=sword
		[/attack_filter]
		direction=s
		start_time=-200
		[frame]
			duration=100
			image="units/human-aragwaith/guard-attack-1-5-s.png"
		[/frame]
		[if]
			hits=yes
			[frame]
				duration=100
				image="units/human-aragwaith/guard-attack-2-s.png"
				sound={SOUND_LIST:SWORD_SWISH}
			[/frame]
		[/if]
		[else]
			hits=no
			[frame]
				duration=100
				image="units/human-aragwaith/guard-attack-2-s.png"
				sound={SOUND_LIST:SWORD_MISS}
			[/frame]
		[/else]
		[frame]
			duration=100
			image="units/human-aragwaith/guard-attack-3-s.png"
		[/frame]
		[frame]
			duration=100
			image="units/human-aragwaith/guard-attack-4-s.png"
		[/frame]
		[frame]
			duration=100
			image="units/human-aragwaith/guard-attack-1-5-s.png"
		[/frame]
	[/attack_anim]
	[attack_anim]
		[attack_filter]
			name=sword
		[/attack_filter]
		direction=ne,nw,se,sw
		start_time=-200
		[frame]
			duration=100
			image="units/human-aragwaith/guard-attack-1-5-e.png"
		[/frame]
		[if]
			hits=yes
			[frame]
				duration=100
				image="units/human-aragwaith/guard-attack-2-e.png"
				sound={SOUND_LIST:SWORD_SWISH}
			[/frame]
		[/if]
		[else]
			hits=no
			[frame]
				duration=100
				image="units/human-aragwaith/guard-attack-2-e.png"
				sound={SOUND_LIST:SWORD_MISS}
			[/frame]
		[/else]
		[frame]
			duration=100
			image="units/human-aragwaith/guard-attack-3-e.png"
		[/frame]
		[frame]
			duration=100
			image="units/human-aragwaith/guard-attack-4-e.png"
		[/frame]
	[/attack_anim]
	[idle_anim]
		{STANDARD_IDLE_FILTER}
		start_time=0
		[frame]
			duration=100
			image="units/human-aragwaith/guard-idle-1.png"
		[/frame]
		[frame]
			duration=100
			image="units/human-aragwaith/guard-idle-2.png"
		[/frame]
		[frame]
			duration=100
			image="units/human-aragwaith/guard-idle-3.png"
		[/frame]
		[frame]
			duration=100
			image="units/human-aragwaith/guard-idle-4.png"
		[/frame]
		[frame]
			duration=100
			image="units/human-aragwaith/guard-idle-5.png"
		[/frame]
		[frame]
			duration=100
			image="units/human-aragwaith/guard-idle-6.png"
		[/frame]
		[frame]
			duration=100
			image="units/human-aragwaith/guard-idle-7.png"
		[/frame]
	[/idle_anim]
[/unit]
