#textdomain wesnoth-Extended_Era

#define MISSILE_FRAME_FAERIE_BURN
	missile_start_time=-360
	[missile_frame]
		duration=30
		halo=halo/mystic-fire-preparation-halo1.png
	[/missile_frame]
	[missile_frame]
		duration=30
		halo=halo/mystic-fire-preparation-halo2.png
	[/missile_frame]
	[missile_frame]
		duration=30
		halo=halo/mystic-fire-preparation-halo3.png
	[/missile_frame]
	[missile_frame]
		duration=30
		halo=halo/mystic-fire-preparation-halo4.png
	[/missile_frame]
	[missile_frame]
		duration=30
		halo=halo/mystic-fire-preparation-halo5.png
	[/missile_frame]
	[missile_frame]
		duration=30
		halo=halo/mystic-fire-preparation-halo6.png
	[/missile_frame]
	[missile_frame]
		duration=30
		halo=halo/mystic-fire-preparation-halo7.png
	[/missile_frame]
	[missile_frame]
		duration=30
		halo=halo/mystic-fire-halo1.png
	[/missile_frame]
	[missile_frame]
		duration=30
		halo=halo/mystic-fire-halo2.png
	[/missile_frame]
	[missile_frame]
		duration=30
		halo=halo/mystic-fire-halo3.png
	[/missile_frame]
	[missile_frame]
		duration=30
		halo=halo/mystic-fire-halo4.png
	[/missile_frame]
	[missile_frame]
		duration=30
		halo=halo/mystic-fire-halo5.png
	[/missile_frame]
	[if]
		direction=n,ne,nw
		hits=yes
		[missile_frame]
			duration=60
			halo="projectiles/fireball-impact-1.png"
			offset=1.0
		[/missile_frame]
		[missile_frame]
			duration=60
			halo="projectiles/fireball-impact-2.png"
			offset=1.0
		[/missile_frame]
		[missile_frame]
			duration=60
			halo="projectiles/fireball-impact-3.png"
			offset=1.0
		[/missile_frame]
		[missile_frame]
			duration=60
			halo="projectiles/fireball-impact-4.png"
			offset=1.0
		[/missile_frame]
		[missile_frame]
			duration=60
			halo="projectiles/fireball-impact-5.png"
			offset=1.0
		[/missile_frame]
		[missile_frame]
			duration=60
			halo="projectiles/fireball-impact-6.png"
			offset=1.0
		[/missile_frame]
		[missile_frame]
			duration=60
			halo="projectiles/fireball-impact-7.png"
			offset=1.0
		[/missile_frame]
		[missile_frame]
			duration=60
			halo="projectiles/fireball-impact-8.png"
			offset=1.0
		[/missile_frame]
		[missile_frame]
			duration=60
			halo="projectiles/fireball-impact-9.png"
			offset=1.0
		[/missile_frame]
		[missile_frame]
			duration=60
			halo="projectiles/fireball-impact-10.png"
			offset=1.0
		[/missile_frame]
		[missile_frame]
			duration=60
			halo="projectiles/fireball-impact-11.png"
			offset=1.0
		[/missile_frame]
		[missile_frame]
			duration=60
			halo="projectiles/fireball-impact-12.png"
			offset=1.0
		[/missile_frame]
		[missile_frame]
			duration=60
			halo="projectiles/fireball-impact-13.png"
			offset=1.0
		[/missile_frame]
		[missile_frame]
			duration=60
			halo="projectiles/fireball-impact-14.png"
			offset=1.0
		[/missile_frame]
		[missile_frame]
			duration=60
			halo="projectiles/fireball-impact-15.png"
			offset=1.0
		[/missile_frame]
		[missile_frame]
			duration=60
			halo="projectiles/fireball-impact-16.png"
			offset=1.0
		[/missile_frame]
	[/if]
	[else]
		direction=s,se,sw
		hits=yes
		[missile_frame]
			duration=60
			halo="projectiles/fireball-impact-1.png~FL(vert)"
			offset=1.0
		[/missile_frame]
		[missile_frame]
			duration=60
			halo="projectiles/fireball-impact-2.png~FL(vert)"
			offset=1.0
		[/missile_frame]
		[missile_frame]
			duration=60
			halo="projectiles/fireball-impact-3.png~FL(vert)"
			offset=1.0
		[/missile_frame]
		[missile_frame]
			duration=60
			halo="projectiles/fireball-impact-4.png~FL(vert)"
			offset=1.0
		[/missile_frame]
		[missile_frame]
			duration=60
			halo="projectiles/fireball-impact-5.png~FL(vert)"
			offset=1.0
		[/missile_frame]
		[missile_frame]
			duration=60
			halo="projectiles/fireball-impact-6.png~FL(vert)"
			offset=1.0
		[/missile_frame]
		[missile_frame]
			duration=60
			halo="projectiles/fireball-impact-7.png~FL(vert)"
			offset=1.0
		[/missile_frame]
		[missile_frame]
			duration=60
			halo="projectiles/fireball-impact-8.png~FL(vert)"
			offset=1.0
		[/missile_frame]
		[missile_frame]
			duration=60
			halo="projectiles/fireball-impact-9.png~FL(vert)"
			offset=1.0
		[/missile_frame]
		[missile_frame]
			duration=60
			halo="projectiles/fireball-impact-10.png~FL(vert)"
			offset=1.0
		[/missile_frame]
		[missile_frame]
			duration=60
			halo="projectiles/fireball-impact-11.png~FL(vert)"
			offset=1.0
		[/missile_frame]
		[missile_frame]
			duration=60
			halo="projectiles/fireball-impact-12.png~FL(vert)"
			offset=1.0
		[/missile_frame]
		[missile_frame]
			duration=60
			halo="projectiles/fireball-impact-13.png~FL(vert)"
			offset=1.0
		[/missile_frame]
		[missile_frame]
			duration=60
			halo="projectiles/fireball-impact-14.png~FL(vert)"
			offset=1.0
		[/missile_frame]
		[missile_frame]
			duration=60
			halo="projectiles/fireball-impact-15.png~FL(vert)"
			offset=1.0
		[/missile_frame]
		[missile_frame]
			duration=60
			halo="projectiles/fireball-impact-16.png~FL(vert)"
			offset=1.0
		[/missile_frame]
	[/else]
	[else]
		hits=no
		direction=s,se,sw,n,ne,nw
		[missile_frame]
			duration=75
			image="projectiles/fire-burst-small-1.png"
			image_diagonal="projectiles/fire-burst-small-1.png"
			offset=0.8
		[/missile_frame]
		[missile_frame]
			duration=75
			image="projectiles/fire-burst-small-2.png"
			image_diagonal="projectiles/fire-burst-small-2.png"
			offset=0.83
		[/missile_frame]
		[missile_frame]
			duration=75
			image="projectiles/fire-burst-small-3.png"
			image_diagonal="projectiles/fire-burst-small-3.png"
			offset=0.86
		[/missile_frame]
		[missile_frame]
			duration=75
			image="projectiles/fire-burst-small-4.png"
			image_diagonal="projectiles/fire-burst-small-4.png"
			offset=0.89
		[/missile_frame]
		[missile_frame]
			duration=75
			image="projectiles/fire-burst-small-5.png"
			image_diagonal="projectiles/fire-burst-small-5.png"
			offset=0.92
		[/missile_frame]
		[missile_frame]
			duration=75
			image="projectiles/fire-burst-small-6.png"
			image_diagonal="projectiles/fire-burst-small-6.png"
			offset=0.95
		[/missile_frame]
		[missile_frame]
			duration=75
			image="projectiles/fire-burst-small-7.png"
			image_diagonal="projectiles/fire-burst-small-7.png"
			offset=0.98
		[/missile_frame]
		[missile_frame]
			duration=75
			image="projectiles/fire-burst-small-8.png"
			image_diagonal="projectiles/fire-burst-small-8.png"
			offset=1.0
		[/missile_frame]
	[/else]
#enddef
